/*Font Style & Color*/
h1, h2{
  font-style: cursive;
  font-family: snell Roundhand;
  color: #83D3D5;
}
.subtitle h1 {
  text-align: center;
}
h1 {
  font-size: 52px;
}
p{
  font-size: 20px;
}

}
p, ul, h3, #person{
  color: #22577A;
}

.photosize {
  width: 75%;
}

/*Menu Bar Style*/
.menu-item {
  color: #EDF6F9; /*Font White*/
  display: flex;
  justify-content: flex-end;
}
.menu-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

/*Title*/

.title {
  display: flex;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Home Page*/
.Intro-content-container{
  display:flex;
  margin: 25px 25px 25px 25px;
  justify-content: center;
}

.photo-container-home, .photo-container-portfolio, .pricing-container {
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-home{
  margin: 1rem 1rem 1rem 1rem;
=======
  justify-content: center
  margin: 50px;
}

.photo{
  margin: 2rem;
>>>>>>> 0fd1f0193247819fc7745987aef05fd2b5a1ae6e
  display: flex;
  justify-content: center;
  padding: 1rem;
}


#list{
  list-style-type: none;
}

.footer-container {
  background-color: #57CC99;
  margin-top: 50px;
}
.footer{
  margin-left: 100px;
}


/*Reviews Page*/

.forum-item {
  background-color: #D3FAD7;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;

}
.forum-Container{
  margin-top: 50px;
  margin-bottom: 50px;
}

#reviews {
  font-style: italic;
  color: #22577A;
}


/*Moble */
@media only screen and (max-width: 400px) {


  .photo-container-home, {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

}
/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .photo-container-home,{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .forum-item {
    margin-left:100px;
    margin-right:100px;
  }

}
/*Desktop*/
@media only screen and (min-width: 961px){

<<<<<<< HEAD
  .photo-container-home {
=======
  .photo-container-home, {
>>>>>>> 0fd1f0193247819fc7745987aef05fd2b5a1ae6e
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
<<<<<<< HEAD
  .photo-home {
        width: 30%;
        display: flex ;
        align-items: center;
        justify-content: center !important;
  }
  .About-item{
    display: flex;
    flex-direction: row;
=======
  .forum-item {
    margin-left:100px;
    margin-right:100px;
>>>>>>> 0fd1f0193247819fc7745987aef05fd2b5a1ae6e
  }
  .anch-link{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
